#!/bin/bash

. /etc/openvpn/easy-rsa/vars

# Prepare keys directory
[ -d "$KEY_DIR" ] || {
    mkdir "$KEY_DIR" && chmod go-rwx "$KEY_DIR" && touch "$KEY_DIR/index.txt" && echo 01 >"$KEY_DIR/serial"
}

$EASY_RSA/pkitool --initca && \
$EASY_RSA/pkitool --server server && \
$OPENSSL dhparam -out $KEY_DIR/dh{{ key_strength }}.pem {{ key_strength }}
