server {
  listen 80;
  listen [::]:80;
  server_name {{ item.dns }};
  return 301 https://$server_name$request_uri;
}

server {

  listen 443 ssl;
  listen [::]:443 ssl;
  include snippets/ssl-{{ item.dns }}.conf;
  include snippets/ssl-params.conf;

  root /var/www/{{ item.dns }};
  server_name {{ item.dns }};

  index index.php index.html;

  location / {
    try_files $uri $uri/ =404;
  }

  location ~ /.well-known {
    allow all;
  }

  location ~ \.php$ {
    try_files $uri =404;
    fastcgi_pass unix:/var/run/php/php7.0-fpm.sock;
    fastcgi_index index.php;
    fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
    include fastcgi_params;
  }
}
