server {
  listen 80;
  listen [::]:80;

  server_name {{ item.0.dns }} www.{{ item.0.dns }};
  root /var/www/{{ item.0.dns }};

  index index.php index.html;

  location / {
    try_files $uri $uri/ =404;
  }

  location ~ /.well-known {
    allow all;
  }
  location ~ /\.git {
    deny all;
  }
  location ~ \.php$ {
    try_files $uri =404;
    fastcgi_index index.php;
    fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
    include fastcgi_params;
  }
}
